html {
  background-color: #404040;

  * {
    align-self: center;
  }

  a {
    color: white;

    &:visited {
      color: white;
    }
  }

  #app {
    color: white;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 10pt 5% 0 5%;

    .button-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: 15pt;
      width: 100%;

      button {
        cursor: pointer;
        background-color: white;
        color: black;
        text-transform: uppercase;
        margin: 0 5pt 0;
        padding: 5pt;
        border: none;
        border-radius: 2pt;
        box-shadow: 0px 11px 8px -6px rgba(0, 0, 0, 0.75);
        width: 50%;

        &:active {
          animation: button-press 0.2s ease-in;
        }
      }
    }

    code {
      background-color: #000000;
      font-size: 8pt;
      white-space: pre-wrap;
      max-height: 300pt;
      overflow-y: scroll;
      padding: 5pt;
      width: 100%;
      border: 1pt white solid;
      border-radius: 5pt;
    }
  }
}

@keyframes button-press {
  to {
    box-shadow: 0px 11px 8px -2px rgba(0, 0, 0, 0.75);
  }
}
